@model FifteenPuzzle.Client.Models.PuzzleGameModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PuzzleStyle.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="col-sm-3">
        <div hidden="@Model.GetInstance.Ready">
            <div class="panel panel-success">
                <div class="panel-heading">Exelent!!! You WIN!</div>
                <div class="panel-body">
                    @Html.ActionLink("Play again", "NewGame", "PuzzleGame", new { reset = true }, new { @class = "hrefClassName", @id = "hrefId" })
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">PuzzleGame</div>
            <div class="panel-body">
                <div class="form-group">
                    <table class="table">
                        <thead></thead>
                        <tbody>
                            @for (var i = 0; i < 4; i++)
                            {
                            <tr>
                                @for (var j = 0; j < 4; j++)
                                    {
                                    <td class="btn btn-primary" onclick="location.href='@Url.Action("Index", "PuzzleGame", new{ Value=@Model.GetInstance.GetPuzzlesField[i, j].PuzzleValue })'">
                                        @Model.GetInstance.GetPuzzlesField[i, j].PuzzleValue
                                    </td>
                                    }
                            </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr><td colspan="4"><div><b>Steps: </b>@Model.GetInstance.Steps</div></td></tr>
                            <tr><td colspan="4">@Html.ActionLink("New Game", "NewGame", "PuzzleGame", new { reset = true }, new { @class = "hrefClassName", @id = "hrefId" })</td></tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>





